/* @import url(reset.css); */

/* @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Tilt+Prism:XROT,YROT@30,16&display=swap'); */

@import url(all.min.css);
/* FontAwesome 6.3.0 */
@import url(fonts.css);

* {
    box-sizing: border-box;
}

/* VARIABLES GLOBALES */

:root {
    --font-titulos: 'Tilt Prism', cursive;
    --font-texto: 'Caveat', cursive;

    --color-vinculo: rgb(59, 88, 174);
    --color-tinta: black;
    --color-fondo: white;
    --color-fondo-secundario: darkgray;

    --espaciado: 0.5rem;
}

/* ETIQUETAS GLOBALES */

body {
    margin: 0;

    background-color: var(--color-fondo);
    color: var(--color-tinta);

    font-family: var(--font-texto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-titulos);
}

img,
audio,
video,
table {
    width: 100%;

    border: 0;
    border-radius: var(--espaciado);
}

p {
    line-height: calc(100% + var(--espaciado));
    text-align: justify;

    margin: 2rem 0;
}

a {
    text-decoration: none;
    color: var(--color-vinculo);
}

a:hover {
    text-decoration: underline;
}

figure {
    margin: 0;
}

/* Tablas */

table {
    border-collapse: collapse;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: var(--color-fondo-secundario)
}

td,
th,
caption {
    border: 1px solid black;
    padding: var(--espaciado);
}

table caption,
table thead {
    text-transform: uppercase;
    background-color: var(--color-tinta);
    color: var(--color-fondo);
}

thead th:nth-child(2) {
    text-align: left;
}

thead th:nth-child(3),
thead th:nth-child(4),
tbody td:nth-child(3),
tbody td:nth-child(4) {
    text-align: right;
}

/* iframe RESPONSIVE */

.aspecto {
    position: relative;
    width: 100%;
    height: 0;
}

.r1x1 {
    padding-bottom: 100%;
}

.r4x3 {
    padding-bottom: 75%;
}

.r16x9 {
    padding-bottom: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* CABECERA Y PIE */

body>header,
body>footer {
    background-color: var(--color-tinta);
    color: var(--color-fondo);

    padding: var(--espaciado);

    text-align: center;
}

body>header h1 {
    font-size: 2rem;
    line-height: calc(2rem + var(--espaciado) * 2);

    margin: 0
}

/* MENÚ */
body>nav {
    background-color: var(--color-tinta);
    text-align: center;

    border-top: 1px solid var(--color-fondo);
}

body>nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body>nav a {
    display: inline-block;

    width: calc(100% - 2 * var(--espaciado));

    padding: var(--espaciado);
    margin: var(--espaciado);

    color: var(--color-fondo);

}

body>nav a:hover {
    background-color: var(--color-fondo);
    color: var(--color-tinta);

    text-decoration: none;

    border: 1px solid var(--color-tinta);
    border-radius: var(--espaciado);
}

/* PRINCIPAL */

main {
    padding: var(--espaciado);
}

h2 {
    background-color: var(--color-fondo-secundario);
    padding: var(--espaciado);
    margin: 0 calc(-1 * var(--espaciado)) var(--espaciado);
    text-align: center;
}

.marcado {
    text-transform: capitalize;
    font-variant: small-caps;
    background-color: yellow;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
    margin-bottom: var(--espaciado);
}

/* Multimedia */

#multimedia>* {
    margin-bottom: 1rem;
}

/* Formulario */

input,
select,
textarea,
button,
fieldset {
    width: 100%;
    margin-bottom: var(--espaciado);

    border-radius: var(--espaciado);
    border: 1px solid darkgray;

    padding: var(--espaciado);
}

input[type=color] {
    height: 3rem;
}

#cajas {
    text-align: center;
}

input[type=checkbox],
input[type=radio] {
    width: auto;
    margin: 0 auto;
}

/* ASIDE */

aside {
    background-color: var(--color-fondo-secundario);
}

aside ul {
    list-style: none;
    line-height: calc(1rem + 2 * var(--espaciado));
}

/* PIE */

body>footer p {
    text-align: center;
}

body>footer a {
    color: var(--color-fondo);
}

/* ARRIBA */

#arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    background-color: var(--color-tinta);
    border-radius: 100%;
    padding-top: 2px;
    width: 54px;
    height: 54px;
    vertical-align: middle;
}

@media (min-width: 425px) {

    #listas ul,
    #listas ol,
    #listas dl {
        display: inline-block;
        vertical-align: top;
    }

    #listas ul {
        width: 20%;
    }

    #listas ol {
        width: 30%;
    }

    #listas dl {
        width: 48%;
    }
}

@media (min-width: 768px) {
    main {
        padding: 1rem 5rem;
    }

    body>nav ul {
        display: flex;
        justify-content: center;
    }

    body>nav a {
        width: auto;
    }

    #parrafos {
        display: flex;
        flex-wrap: wrap;
    }

    #parrafos h3 {
        width: 100%;
    }

    #parrafos p {
        width: 33.3333%;
        padding-right: 2rem;
    }

    #parrafos p:first-of-type {
        width: 100%;

        margin: 0;
    }

    #parrafos p:last-of-type {
        padding-right: 0;
    }

    aside ul {
        display: flex;
        gap: 1rem;
    }

    aside a {
        width: auto;
    }

    #formularios {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #formularios h3 {
        grid-column-end: span 2;
    }

    #formularios form:nth-of-type(2) {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    #formularios form:last-of-type {
        grid-row-end: span 3;

        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
}

@media (min-width: 1024px) {
    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: calc(2 * var(--espaciado));

        grid-template-areas:
            "titulo titulo"
            "parrafos parrafos"
            "listas multimedia"
            "tablas multimedia"
            "formularios multimedia";
    }

    article>h2 {
        grid-area: titulo;
    }

    #parrafos {
        grid-area: parrafos;
    }

    #listas {
        grid-area: listas;
    }

    #tablas {
        grid-area: tablas;
    }

    #multimedia {
        grid-area: multimedia;
    }

    #formularios {
        grid-area: formularios;

        display: block;
    }

    #formularios form:last-of-type {
        display: block;
    }
}

@media print {
    /* Impresora */
}